{% extends ':admin:base.html.twig' %}
{% import "AdminBundle:Main:_helper.html.twig" as helper %}

{% set sideMenuActiveSection = 'withdraw' %}
{% set pageTitle = 'withdraw.menu.site'|trans %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/chosen.css') }}"/>
{% endblock %}

{% block breadcrumb %}
    {{ helper.breadcrumb([
    [pageTitle]
    ]) }}
{% endblock %}

{% block gridFilter %}
    {#filter form#}
    {% form_theme formFilter ':admin:filterFormTheme.html.twig' %}
    {{ form_errors(formFilter) }}
    <form id="gridFilter" novalidate action="{{ formFilter.vars.action }}" method="post">
        {{ form_rest(formFilter) }}
        <br>
        <button name="submit" class="btn btn-sm btn-primary" type="submit">{{ 'admin.titles.search'|trans }}</button>
        <button name="reset" class="btn btn-sm" type="reset">{{ 'admin.titles.reset'|trans }}</button>
    </form>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ pageTitle }}</h1>
    </div>

    <div class="btn-group screenTopButtons">
        <a class="btn btn-sm btn-success"
           href="{{ path('withdraw_site_new') }}">{{ 'withdraw.site.add_form'|trans }}</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                {#Add via Ajax#}
                <form name="add_site_instantly" method="post" class="form-horizontal" role="form">
                    <div id='url-form'>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">
                                <label for="site_url" class="required">{{ 'withdraw.site.url'|trans }}</label>
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="url-field" class="input-xxlarge" name="url[]" required="required" maxlength="255" autofocus>
                                <div class="btn-group screenTopButtons">
                                    <input type="submit" id="url-btn" value="{{ 'withdraw.site.add_instantly'|trans }}" class="btn btn-sm btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="{{ path('withdraw_site_batch') }}" method="post" class="gridForm">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label>
                                    <input type="checkbox" class="ace"/>
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>{{ knp_pagination_sortable(entities, 'admin.titles.id'|trans, 's.id') }}</th>
                            <th>{{ knp_pagination_sortable(entities, 'withdraw.site.url'|trans, 's.url') }}</th>
                            <th>{{ knp_pagination_sortable(entities, 'withdraw.site.inserted_at'|trans, 's.createdAt') }}</th>
                            <th>{{ knp_pagination_sortable(entities, 'withdraw.site.status.status'|trans, 's.status') }}</th>
                            <th style="width: 35%">{{ 'withdraw.site.site_title'|trans }}</th>
                            <th>{{ 'withdraw.site.ex_links_count'|trans }}</th>
                            <th>{{ 'withdraw.site.ga_is_exist'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="center" width="35">
                                    <label>
                                        <input type="checkbox" class="ace" value="{{ entity.id }}" name="idx[]"/>
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>{{ entity.id }}</td>
                                <td data-url="{{ entity.id }}">{{ entity.url }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td data-status="{{ entity.id }}">{{ entity.statusTransKey|trans }}</td>
                                <td data-title="{{ entity.id }}">{{ (entity.metrics['title'] is defined) ? entity.metrics['title'].humanValue :'n/a' }}</td>
                                <td data-ex-links-count="{{ entity.id }}">{{ (entity.metrics['ex_links_count'] is defined) ? entity.metrics['ex_links_count'].humanValue : 'n/a' }}</td>
                                <td data-ga-is-exist="{{ entity.id }}">{{ (entity.metrics['ga_is_exist'] is defined) ? entity.metrics['ga_is_exist'].humanValue : 'n/a' }}</td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="{{ path('withdraw_site_show', { 'id': entity.id }) }}">
                                            <i class="icon-zoom-in bigger-130"></i>
                                        </a>

                                        <a class="green" href="{{ path('withdraw_site_edit', { 'id': entity.id }) }}">
                                            <i class="icon-pencil bigger-130"></i>
                                        </a>

                                        <a class="red"
                                           href="{{ path('withdraw_site_delete', { 'id': entity.id, 'single': true, 'redirect': app.request.uri|base64_encode }) }}">
                                            <i class="icon-trash bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="inline position-relative">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <i class="icon-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="{{ path('withdraw_site_show', { 'id': entity.id }) }}"
                                                       class="tooltip-info" data-rel="tooltip" title="View">
                                                    <span class="blue">
                                                        <i class="icon-zoom-in bigger-120"></i>
                                                    </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('withdraw_site_edit', { 'id': entity.id }) }}"
                                                       class="tooltip-success" data-rel="tooltip" title="Edit">
                                                    <span class="green">
                                                        <i class="icon-edit bigger-120"></i>
                                                    </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('withdraw_site_delete', { 'id': entity.id, 'redirect': app.request.uri|base64_encode }) }}"
                                                       class="tooltip-success" data-rel="tooltip" title="Delete">
                                                    <span class="green">
                                                        <i class="icon-edit bigger-120"></i>
                                                    </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        <tr id="url-row" style="display: none">
                            <td class="center" width="35">
                                <label>
                                    <input type="checkbox" class="ace" value="replace-with-id" name="idx[]"/>
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>replace-with-id</td>
                            <td data-url="replace-with-id">replace-with-url</td>
                            <td>replace-with-createdAt</td>
                            <td data-status="replace-with-id">{{ 'withdraw.site.status.new'|trans }}</td>
                            <td data-title="replace-with-id">n/a</td>
                            <td data-ex-links-count="replace-with-id">n/a</td>
                            <td data-ga-is-exist="replace-with-id">n/a</td>
                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <a class="blue" href="{{ path('withdraw_site_show', { 'id': 'replace-with-id' }) }}">
                                        <i class="icon-zoom-in bigger-130"></i>
                                    </a>

                                    <a class="green" href="{{ path('withdraw_site_edit', { 'id': 'replace-with-id' }) }}">
                                        <i class="icon-pencil bigger-130"></i>
                                    </a>

                                    <a class="red"
                                       href="{{ path('withdraw_site_delete', { 'id': 'replace-with-id', 'single': true, 'redirect': app.request.uri|base64_encode }) }}">
                                        <i class="icon-trash bigger-130"></i>
                                    </a>
                                </div>

                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                data-toggle="dropdown">
                                            <i class="icon-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="{{ path('withdraw_site_show', { 'id': 'replace-with-id' }) }}" class="tooltip-info" data-rel="tooltip" title="View">
                                <span class="blue">
                                    <i class="icon-zoom-in bigger-120"></i>
                                </span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('withdraw_site_edit', { 'id': 'replace-with-id' }) }}" class="tooltip-success" data-rel="tooltip" title="Edit">
                                <span class="green">
                                    <i class="icon-edit bigger-120"></i>
                                </span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('withdraw_site_delete', { 'id': 'replace-with-id', 'redirect': app.request.uri|base64_encode }) }}" class="tooltip-success" data-rel="tooltip" title="Delete">
                                <span class="green">
                                    <i class="icon-edit bigger-120"></i>
                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="form-inline">
                        <label for="all_elements" class="checkbox"></label>
                        <select name="action">
                            <option value="delete">{{ 'admin.titles.delete'|trans }}</option>
                        </select>
                        <input type="submit" value="Ok" class="btn btn-sm btn-primary">
                    </div>
                </form>
            </div><!-- /.table-responsive -->
        </div><!-- /span -->
        {{ knp_pagination_render(entities) }}

    </div><!-- /row -->
{% endblock %}

{% block bottomScripts %}
    {{ helper.gridJavaScripts(path('withdraw_site_list')) }}
    <script src="{{ asset('bundles/withdraw/js/custom.js') }}"></script>
    <script>
        $(function () {
            getChanges();
            $('form[name="add_site_instantly"]').submit(function () {
                addSiteInstantly();
                return false;
            })
        });
    </script>
{% endblock %}
