{% extends ':admin:base.html.twig' %}
{% import "AdminBundle:Main:_helper.html.twig" as helper %}

{% set sideMenuActiveSection = 'withdraw' %}
{% set pageTitle = 'withdraw.site.new_item'|trans %}

{% block breadcrumb %}

    {{ helper.breadcrumb([
    ['withdraw.menu.site', path('withdraw_site_list')],
    [pageTitle]
    ]) }}

{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'withdraw.site.new_item'|trans }}</h1>
    </div>

    <div class="btn-group screenTopButtons">
        <a class="btn btn-sm btn-inverse" href="{{ path('withdraw_site_list') }}">{{ 'admin.titles.list'|trans }}</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form name="site" method="post" class="form-horizontal" role="form">
                <div id = 'url-form'>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">
                            <label for="site_url" class="required">URL</label>
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="input-xxlarge" name="url[]" required="required" maxlength="255">
                        </div>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-xs btn-success" onClick="addUrl(); return false;">
                        <i class="icon-pencil bigger-110"></i>
                        <span class="bigger-110 no-text-shadow">Add another URL</span>
                    </button>
                </div>
                <div style="clear: both;"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-info" type="submit" name="submit">
                            <i class="icon-ok bigger-110"></i>Add
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>

{% endblock %}

{% block bottomScripts %}
    <script src="{{ asset('bundles/withdraw/js/custom.js') }}"></script>
{% endblock %}
