<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>{{ 'app.title'|trans }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- basic styles -->
        <link href="{{ asset('bundles/admin/ace/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/font-awesome.min.css') }}" />
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/font-awesome-ie7.min.css') }}" />
        <![endif]-->
        <!-- page specific plugin styles -->
    {% block head %}{% endblock %}
        <!-- fonts -->
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/ace-fonts.css') }}" />
        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/jquery-ui-1.10.3.full.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/ace.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/ace-rtl.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/ace-skins.min.css') }}" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/ace-ie.min.css') }}" />
        <![endif]-->
        <!-- inline styles related to this page -->
        <!-- ace settings handler -->
        <script src="{{ asset('bundles/admin/ace/assets/js/ace-extra.min.js') }}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/admin/ace/assets/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/admin/ace/assets/js/respond.min.js') }}"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/admin/css/custom.css') }}" />
        <style>
                html,body {
                        background-color: white;
                        direction: rtl;
                }
        </style>
</head>

<body{% if app.request.locale == 'ar' %} class="rtl"{% endif %}>

{% include ':admin:flashMessage.html.twig' %}
{% block content %}{% endblock %}




<!-- basic scripts -->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='{{ asset('bundles/admin/ace/assets/js/jquery-2.0.3.min.js') }}'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
        window.jQuery || document.write("<script src='{{ asset('bundles/admin/ace/assets/js/jquery-1.10.2.min.js') }}'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{{ asset('bundles/admin/ace/') }}assets/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/admin/ace/') }}assets/js/typeahead-bs2.min.js"></script>
<script src="{{ asset('bundles/admin/js/bootbox.min.js') }}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="{{ asset('bundles/admin/ace/') }}assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="{{ asset('bundles/admin/ace/assets/js/jquery-ui-1.10.3.full.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/jquery.easy-pie-chart.min.j') }}s"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/flot/jquery.flot.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/flot/jquery.flot.resize.min.js') }}"></script>

<!-- ace scripts -->
<script src="{{ asset('bundles/admin/ace/assets/js/ace-elements.min.js') }}"></script>
<script src="{{ asset('bundles/admin/ace/assets/js/ace.min.js') }}"></script>

<!-- inline scripts related to this page -->
{% block bottomScripts %}{% endblock %}

{#<script src="{{ asset('bundles/admin/js/layout.js') }}"></script>#}
</body>
</html>