{% trans_default_domain 'FOSUserBundle' %}
<div class="main-content">
    <div class="form-wrapper">

        <ul class="listProfile">
            <li><a href="{{ path('fos_user_profile_show') }}" class="brown">Show Profile</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}" class="brown">Edit Profile</a></li>
        </ul>

        <h2>Change password</h2>

        {{ form_errors(form) }}
        <form novalidate class="adminForm" action="{{ path('fos_user_change_password') }}" method="post">
            <div class="row">
                <div class="col-md-3">{{ form_label(form.current_password) }}</div>
                <div class="col-md-9">
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ form_label(form.plainPassword.first) }}</div>
                <div class="col-md-9">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ form_label(form.plainPassword.second) }}</div>
                <div class="col-md-9">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="pull-right" name="submit" type="submit">{{ 'change_password.submit'|trans }}</button>
                    <div class="requiredFields">
                        <span class="requiredField">*</span>
                        <span>Required fields</span>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>